.dialogRoot{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.darkBackground {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: openingFade 0.25s;
}

.dialogBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2rem;
    transform: translateX(-50%) translateY(-50%);
    background-image: linear-gradient(to bottom, purple, var(--color-primary));
    width: 70vw;
    z-index: 210;
    animation: openingFade 0.25s;
}

.closeButton {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    background-image: url('./../public/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #a825ff;
}

.movieImage {
    width: 100%;
    height: 281px;
    margin-bottom: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.movieTitle {
    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0 2rem 0 1rem;
}

.movieOverview {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    line-height: 1.25;
    padding: 0 1.5rem 0 1.5rem;
    text-align: justify;
    margin-bottom: 2.5rem;
}

.watchButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.watchButton {
    width: 13rem;
    height: 4rem;
    border-radius: 1.5rem;
    border: none;
    text-align: end;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding-right: 1rem;
    background-color: white;
    background-image: url('./../public/icons/play.svg');
    background-repeat: no-repeat;
    background-position: 1rem 0.6rem;
    color: black;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.watchButton:hover {
    background-color: rgb(224, 224, 224);
}

@keyframes openingFade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}