.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.genreTitle{
    color: white;
    padding-left: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.moviesContainer{
    position: relative;
    margin-left: 4rem;
    height: 500px;
}

.moviesSlider{
    position: absolute;
}

.moviesList{
    display: flex;
    list-style: none;
}

.movie{
    margin-right: 1rem;
}

.arrowContainer{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 10;
    transition: background-color 0.2s;
}

.arrowContainer:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.leftArrowContainer{
    left: 0;
}

.rightArrowContainer{
    right: 0;
}